@media screen and (max-width:700px) {
 .row {
    margin-right: 0px;
    margin-left: 0px;
        
    }
    .row .col-6{
        width: 100%;
        padding: 17px;
    }
    .h1{
        text-align: center;
        color: blue;
    }
    .img{
        margin-top: 0px;
    }
    .figimg1{
        padding: 0px;
        margin-top: 0px;
    }
}
body{
    overflow-x: hidden;
}
.h1{
    color: blue;
    text-align: center;
}
.row .col-6{
    padding: 20px;
}
.figimg1{
    padding: 11px;
    margin-top: -10px;
}
.img{
    height: 106%;
    margin-top: -21px
}
 