body {
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
}

.p-70 {
    padding: 70px 0;
}

.p-50 {
    padding: 50px 0;
}

img {
    width: 100%;
}

/* Global Colors */
:root {
    --color-default: #212529;
    --color-default-rgb: 33, 37, 41;
    --color-background: #ffffff;
    --color-background-rgb: 255, 255, 255;
    --color-primary: #FF6600;
    --color-primary-rgb: 232, 69, 69;
    --color-secondary: #32353a;
    --color-secondary-rgb: 50, 53, 58;
    --color-box-background: #ffffff;
    --color-box-background-rgb: 255, 255, 255;
    --color-inverse: #ffffff;
    --color-inverse-rgb: 255, 255, 255;
}

/* Nav Menu Colors */
:root {
    --color-nav: #3a3939;
    --color-nav-hover: #e84545;
    --color-nav-dropdown: #3a3939;
    --color-nav-dropdown-hover: #e84545;
    --color-nav-dropdown-background: #ffffff;
    --color-nav-mobile-background: #ffffff;
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    transition: 0.3s;
}

.scroll-top {
    position: fixed;
    visibility: visible;
    opacity: 1;
    right: 22px;
    bottom: 22px;
    z-index: 99999;
    background-color: rgb(96, 211, 96);
    border-radius: 100% !important;
    width: 60px;
    height: 60px;
    transition: all 0.4s;
    padding: 10px;
}

.scroll-top i {
    font-size: 36px;
    color: #ffffff;
    line-height: 0;
}

/*----------------------------
#loader
------------------------------*/

.loader {
    position: relative;
    width: 108px;
    display: flex;
    justify-content: space-between;
}

.loader::after,
.loader::before {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #ff6600;
    background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: eyeMove 10s infinite, blink 10s infinite;
}

@keyframes eyeMove {

    0%,
    10% {
        background-position: 0px 0px
    }

    13%,
    40% {
        background-position: -15px 0px
    }

    43%,
    70% {
        background-position: 15px 0px
    }

    73%,
    90% {
        background-position: 0px 15px
    }

    93%,
    100% {
        background-position: 0px 0px
    }
}

@keyframes blink {

    0%,
    10%,
    12%,
    20%,
    22%,
    40%,
    42%,
    60%,
    62%,
    70%,
    72%,
    90%,
    92%,
    98%,
    100% {
        height: 48px
    }

    11%,
    21%,
    41%,
    61%,
    71%,
    91%,
    99% {
        height: 18px
    }
}


.loading-spiner {
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: hsl(25, 97%, 53%); */
    background: whitesmoke;
    top: 0;
    left: 0;
    z-index: 99999555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    color: white !important;
}

.spinner>div {
    background-color: #333;
    height: 100%;
    width: 6px;
    color: white !important;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;

}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/*###################*/
/*#header*/
/*###################*/
.header {
    padding: 10px 0;
    box-shadow: 0 0 10px black;
    direction: ltr;
}

.header .nav-item {
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
}

.main_link {
    color: #0088e0;
}

.navbar-toggler {
    background: transparent;
    border: none;
    outline: 0;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0;
}

/*####################*/
/*#home*/
/*####################*/
.home {
    background-image: url(../img/1-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.home .top {
    color: white;
    position: absolute;
    left: 140px;
    top: 28%;
}

.home .top_text {
    font-weight: 700;
}

.home .main_body_text {
    font-weight: 700;
    margin: 20px 0;
    font-size: 45px;
    line-height: 48px;
}

.home .top_btn {
    text-align: left;
}

.home .top_btn .btn {
    color: white;
    padding: 10px 50px;
    border: 1px solid #ff6600;
    transition: all .4s;
}

.home .top_btn .btn:hover {
    background-color: #ff6600;
}

.home .bottom {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100px;
    border-radius: 100%;
    padding: 50px 20px;
    text-align: center;
    position: relative;
    text-align: center;
    margin-right: auto;
    right: -15px;
    bottom: -60px;
    z-index: 0;
}

.home .bottom .bottom_bg {
    background-color: #ff6600 !important;
    padding: 10px 20px;
    position: absolute;
    top: 15px;
    left: 15px;

    border-radius: 100%;
}

.home .bottom .bottom_bg i {
    font-size: 30px;
}



@media screen and (max-width:1024px) {
    .home .top {
        top: 13%;
        width: 47.666667%;
    }
}

@media screen and (max-width:912px) {
    .home .top {
        top: 48%;
        width: 69.666667%;
    }
}

@media screen and (max-width:820px) {
    .home .top {
        top: 45%;
        width: 65.666667%;
    }

    .home_text {
        padding: 0 !important;
    }
}


@media screen and (max-width:768px) {
    .home .top {
        top: 40%;
        width: 64%;
    }

    .home_text {
        padding: 0 !important;
    }
}

@media screen and (max-width:600px) {
    .home .top {
        top: 30%;
        left: 0;
        padding: 20px !important;
        width: 100%;
    }

    .home_text {
        padding: 0 !important;
    }

    .home .main_body_text {
        font-size: 40px;
    }
}

@media screen and (max-width:360px) {
    .home .main_body_text {
        font-size: 36px;
    }

    .home .top {
        top: 22%;
        padding: 20px !important;
        width: 100%;
    }

    .home_text {
        padding: 0 !important;
    }
}

@media screen and (max-width:280px) {
    .home .top_btn .btn {
        color: white;
        padding: 14px 35px;
        border: 1px solid #ff6600;
        transition: all .4s;
    }

    .home .main_body_text {
        font-size: 29px;
    }

    .home .top {
        padding: 15px !important;
        top: 13%;
    }
}

/*####################
#service
######################*/

.service_top_text {
    font-size: 52px;
}

.service_parent {
    padding: 0 50px;
}

.service_col {
    position: relative;
}

.img1 {
    position: absolute;
    z-index: 1111;
    top: 50px;
    left: 160px;
}

.service_col .img1 img {
    width: 90%;
}

.img2 {

    position: absolute;
}

.service_col .img2 img {
    width: 70%;
}

.srervice_footer .card {
    border: none;

}

.srervice_footer .card h5 {
    font-weight: bold;
}

.service_icon i {
    font-size: 70px;
    font-weight: 800;
}

.service .left_card {
    padding: 0 13px;
}

@media screen and (max-width:1024px) {
    .img1 {
        top: 34px;
        left: 118px;
    }

    .col-sm {
        width: 20% !important;
    }

    .col-sm-8 {
        width: 80%;
    }
}

@media screen and (max-width:912px) {
    .home {
        height: 80vh;
    }

    .home .top {
        top: 42%;
        width: 69.666667%;
    }

    .service_col {
        direction: ltr;
    }

    .service_col .img2 img {
        width: 45%;
    }

    .service_col .img1 img {
        width: 56%;
    }

    .img1 {
        left: 42px;
        top: -30px;
    }

    .img2 {
        top: -66px;
    }

    .marketing_details {
        padding-top: 6rem !important;
    }
}


@media screen and (max-width:768px) {
    .home .top {
        top: 32%;
        width: 69.666667%;
    }
}

@media screen and (max-width:600px) {

    .home .top {
        top: 20%;
        width: 100%;
    }

    .service_col .img1 img {
        width: 60%;
    }

    .service_col .img2 img {
        width: 60%;
    }

    .img2 {
        top: -58px;
    }

    .img1 {
        top: -45px;
        left: 10px;
    }

    .service_text {
        padding: 3rem 0 !important;
    }

    .marketing_details {
        padding-top: 6rem !important;
    }
}

@media screen and (max-width:375px) {
    .home .main_body_text {
        font-size: 28px;
    }

    .home .top {
        top: 0;
        width: 100%;
    }
}

@media screen and (max-width:360px) {
    .home .top {
        top: 9%;
        width: 100%;
    }
}

@media screen and (max-width:280px) {
    .service_parent {
        padding: 0 !important;
    }

    .service .left_card {
        padding: 0 13px 0 0 !important;
    }

    .service_icon i {
        font-size: 50px;
    }
}

/* ---------------------
#service_2
------------------------*/
.service_2 {
    direction: ltr;
    overflow: hidden;
    /* padding: 20px 0 120px 0; */
}

.service_2 .service_text {
    text-align: right;
}

.service_2 .img1 {
    left: 58px;
}

.service_links {
    color: black;
    text-decoration: none;
    transition: all .3s;
}

.service_links:hover {
    transform: scale(1.03);
    color: #ff6600;
}

@media screen and (max-width:1024px) {
    .service_2 {
        padding: 0px 0 140px 0;

    }
}

@media screen and (max-width:768px) {
    .service_2 {
        padding: 0px 0 140px 0;

    }

    .service_text {
        padding: 3rem 0 !important;
    }
}

@media screen and (max-width:600px) {
    .service_2 {
        padding: 0 0 143px 0;
    }

    .service_2 .img2 img {
        width: 52%;

    }
}

/*----------------------------
.service_3
------------------------------*/
.service_3 {
    overflow: hidden;
    padding: 0 0 70px 0;
}

.service_3 .img1 {
    right: 60px;
}

.service_3 .img1 img {
    width: 60%;
}


@media screen and (max-width:1024px) {
    .service_3 {
        padding: 0px 0 140px 0;

    }

    .service_3 .img1 img {
        width: 40%;
    }
}

@media screen and (max-width:768px) {
    .service_3 {
        padding: 0px 0 140px 0 !important;

    }

    .service_3 .service_text {
        padding: 3rem 0 !important;
    }

    .service_3 .img1 img {
        width: 31%;
    }
}

@media screen and (max-width:600px) {
    .service_3 {
        padding: 0 0 85px 0 !important;
    }

    .service_3 .img1 img {
        width: 60%;
    }

    .service_3 .img1 {
        left: 40px;
        right: 60px;

    }

}

@media screen and (width:540px) {
    .service_3 {
        padding: 0 0 169px 0 !important;
    }

    /* .service_3 .img1 img {
        width: 48% !important;
    } */
}

/*----------------------------
#footer
------------------------------*/
.footer {
    --color-background: #f4f4f4;
    --color-box-background: #eaeaea;
    color: var(--color-default);
    background-color: var(--color-background);
    font-size: 14px;
    padding-bottom: 50px;
}

.footer .footer-top {
    padding-top: 50px;
}

.footer .footer-about .logo {
    line-height: 0;
    margin-bottom: 25px;
}

.footer .footer-about .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.footer .footer-about .logo span {
    color: var(--color-secondary);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: var(--font-primary);
}

.footer .footer-about p {
    font-size: 14px;
    font-family: var(--font-primary);
}

.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(var(--color-default-rgb), 0.5);
    font-size: 16px;
    color: rgba(var(--color-default-rgb), 0.5);
    margin-right: 10px;
    transition: 0.3s;
}

/* .footer .social-links a:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
} */

.footer h4 {
    color: #FF6620;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-links {
    margin-bottom: 30px;
}

.footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.footer .footer-links ul i {
    padding-right: 2px;
    font-size: 12px;
    line-height: 0;
}

.footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;

}

.footer .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-links ul a {
    color: rgba(var(--color-default-rgb), 0.8);
    display: inline-block;
    line-height: 1;
}

.footer .footer-links ul a:hover {
    color: #FF6600;
}

.footer .footer-contact p {
    margin-bottom: 5px;
}

.footer .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--color-box-background);
}

.footer .copyright p {
    margin-bottom: 0;
}

.footer .credits {
    margin-top: 6px;
    font-size: 13px;
}

i{
    transition: all .4s;
}

/*----
#whats icon link
-----*/
.whats_link:hover{
    background-color: rgb(96, 211, 96);
    border: none !important;
    box-shadow: 0 0 10px rgb(96, 211, 96);
}
.whats_link:hover i{
    color: white;
}

/*----
#facebook icon link
----*/
.facebook:hover{
    background-color: rgb(10, 123, 189);
    border: none !important;
    box-shadow: 0 0 10px rgb(10, 123, 189);
}
.facebook:hover i{
    color: white;
}

/*----
#instagram icon link
----*/
.instagram:hover{
    background-color: rgb(216, 18, 157);
    border: none !important;
    box-shadow: 0 0 10px rgb(181, 25, 196);
}
.instagram:hover i{
    color: white;
}

/*----
#linkedin icon link
----*/
.linkedin:hover{
    background-color: rgb(38, 162, 245);
    border: none !important;
    box-shadow: 0 0 10px rgb(38, 162, 245);
}
.linkedin:hover i{
    color: white;
}
